.media-list {
  display: flex;
  flex-direction: column;
  border: black 10px;
}
.media-title {
  width: 25%;
  margin: 2px;
  font-style: italic;
  font-size: x-large;
}

.media-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 15%;
  margin: 10px;
  box-shadow: 5px 5px 1px 1px lightgrey;
}
.media-list h1 {
  font: bold;
  font-size: small;
}

.media-image {
  width: 100px;
}
.card-list {
  display: flex;
  flex-direction: column;
}
.return-button {
  width: 30vw;
  height: 5vw;
  color: grey;
  background-color: white;
  border: none;
  box-shadow: 5px 5px 2px 2px lightgrey;
}
