.card {
  max-width: 600px;
  padding: 40px 40px 20px 40px;
}

.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 50%;
}

.cardButtons {
  display: flex;
  flex-wrap: wrap;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #424246;
}

.blackButton {
  color: #fdfdfd;
  background-color: #424246;
}

.blueButton {
  color: #fdfdfd;
  background-color: #1d499b;
}

.yellowButton {
  color: #424246;
  background-color: #f9d648;
}
