.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-bar h1 {
  font-size: 54px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.filter-bar p {
  margin-top: 5px;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 700;
}

.movie-button,
.tv-button,
.list-button {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-button {
  color: #03f7eb;
  border: 2px solid #03f7eb;
}

.tv-button {
  color: #faff7f;
  border: 2px solid #faff7f;
}

.list-button {
  color: #e43f6f;
  border: 2px solid #e43f6f;
}

@media only screen and (min-width: 768px) {
  .filter-bar h1 {
    font-size: 70px;
  }

  .buttons-div {
    margin-top: 5vh;
  }

  .movie-button,
  .tv-button,
  .list-button {
    width: auto;
  }
}
