.card {
  max-width: 600px;
  padding: 40px 40px 20px 40px;
}

.filter-bar {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 70px;
  margin-top: 25px;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100%;
}

.black-button {
  color: black;
  background-color: #03f7eb;
}

.blue-button {
  color: black;
  background-color: #faff7f;
}

.yellow-button {
  color: black;
  background-color: #e43f6f;
}
