input {
  padding: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.pos-rel {
  position: relative;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
  right: 30px;
  top: 52px;
  width: 480px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 5px;
}

.option,
span {
  font-size: 28px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
