.search-options {
  display: flex;
  align-items: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

img {
  height: 120px;
}

.search-details {
  width: 100%;
}
