@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Permanent+Marker&display=swap');

.swipe-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* .card-item {
  display: flex;
  flex-direction: row;

} */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media screen and (max-width: 800px) {
  /* .card-page-img {
    width: 50%;
  } */

  .like-button {
    font-family: 'Permanent Marker';
    font-size: 16px;
    word-wrap: break-word;
    width: auto;
    height: auto;
  }
}

.like-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 12vw;
}

.round-button {
  border-radius: 50%;
}

.card-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-page-img {
  width: 85%;
}

.swipe-media-title {
  margin: 3% 0%;
  line-height: 120%;
}
