@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Permanent+Marker&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Permanent Marker', cursive; */

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 25px;
}

#button,
.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
