@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Permanent+Marker&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Permanent Marker', cursive; */

html {
  font-size: 16px;
  color: white;
  /*background-image: url(./assets/zebra-background-1980.jpg);*/
  background-image: url(./assets/leopard-background-1980.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 110%;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  font-size: 1.25em;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 30px;
  margin-right: 10px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.arrow-button {
  font-family: "Permanent Marker", cursive;
  color: #03f7eb;
  font-size: 45px;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
}

/* @media (min-width: 800px) {
  html {
    background-color: black;
  }
  .App {
    background: black;
    color: white;
  }

  .button {
    background: grey;
  }
  .like-button {
    background: grey;
  }
  h1 {
    color: beige;
  }

  .auto-container {
    background: black;
  }
} */
